main > .container {
    padding: 90px 15px 0;
}


.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.custom-file-label {
    right: 2%;
    left: 2%;
}

.right-sticky {
    position: sticky;
    top: 10%;
}

.max-question-height {
    max-height: 70px;
}

.max-search-width {
    width: 700px !important;
}