{% extends 'inc/base.html' %}

{% load static %}

{% block content %}

    <legend class="mb-3">
        <h3>Question Page</h3>
    </legend>

    <div class="mb-5">
        {% for question in questions %}
            {% include 'inc/question_big.html' %}
        {% endfor %}
    </div>

    {% for answer in answers %}
        {% include 'inc/question_answer.html' %}
    {% endfor %}

    {% include 'inc/paginator.html' with page=answers %}

    <form>
        <textarea class="form-control mr-5 pr-5" id="question" rows="4" placeholder="Enter your answer here"></textarea>
        <button type="submit" id="confirm" class="btn mt-3 align-content-end btn-primary">Submit</button>
    </form>
{% endblock content %}